@{

    <!-- This page contains the HTML and CSS parts of the related files.-->
    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
